# Ignore node_modules directory
node_modules/

# Ignore temporary files
*.tmp

# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore environment variables file
.env

# Ignore macOS system files
.DS_Store

# Ignore Visual Studio Code settings
.vscode/

# Ignore Python virtual environment
.venv